<?xml version="1.0" encoding="UTF-8"?><beans xmlns="http://www.springframework.org/schema/beans"       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"       xmlns:myrpc="http://www.lonfe.com/schema/myrpc"       xsi:schemaLocation="       http://www.springframework.org/schema/beans       http://www.springframework.org/schema/beans/spring-beans.xsd       http://www.lonfe.com/schema/myrpc       http://www.longfe.com/schema/myrpc.xsd">    <!-- 引用服务 -->    <myrpc:reference id="hello" interface="com.lonfe.service.HelloService" /></beans>